---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { fetchPosts } from '~/utils/blog';
import { BLOG_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
  if (BLOG?.disabled || BLOG?.list?.disabled) return [];
  return paginate(await fetchPosts(), {
    params: { blog: BLOG_BASE || undefined },
    pageSize: BLOG.postsPerPage,
  });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description: SITE.description,
  noindex: BLOG?.list?.noindex || currentPage > 1,
  ogType: 'blog',
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="JobFlow AI博客栏目提供了最新的职业发展动态、趋势分析、用户故事和平台更新等内容，帮助用户了解职业市场和发展机会，以及更好地使用平台。"
    >
      The Blog
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
